<div class="text-sky-600 flex justify-between py-6 ">
  <h1 class="font-bold">uvacoder Projects</h1>
  <div id="links" class="flex gap-8">
    <a target="_blank" href="http://www.github.com/uvacoder">Github</a>
    <a target="_blank" href="http://www.codepen.io/uvacoder">Codepen</a>
    <a target="_blank" href="https://www.linkedin.com/in/alecbcampbell">LinkedIn</a>
  </div>
</div>
