---
import Project from "../components/Project.astro";
import TechBadge from "../components/TechBadge.astro";
---

<h1 class="text-xl mt-8 font-bold text-indigo-800">My Recent Projects</h1>
<div>
  <Project
    title="Quotemaster"
    ghLink="https://github.com/uvacoder/quotemaster"
    visitLink="http://quotemaster.vercel.app"
    description="A curated collection of quotes."
    image="./screenshot-quotemaster.png"
  >
    <TechBadge name="React" color="#2563eb" />
    <TechBadge name="TRPC" color="#52525b" />
    <TechBadge name="NextJS" color="#b91c1c" />
  </Project>
  <Project
    title="Pokerhands"
    ghLink="https://github.com/uvacoder/poker-hands"
    visitLink="http://https://pokerhand-ranger.vercel.app"
    description="A great webapp tool for poker hands, ranges, probability and more."
    image="screenshot-pokerhands.png"
    flipped
  >
    <TechBadge name="React" color="#2563eb" />
    <TechBadge name="PostgreSQL" color="#15803d" />
    <TechBadge name="NextJS" color="#b91c1c" />
    <TechBadge name="Google Cloud" color="#b31c7c" />
    <TechBadge name="Tailwind" color="#035c8c" />
    <TechBadge name="Go" color="#4cb9db" />
  </Project>
  <Project
    title="Doodler"
    ghLink="https://github.com/uvacoder/abc-doodler"
    visitLink="http://abcdoodler.netlify.app"
    description="Just a simple drawing webapp."
    image="screenshot-abcdoodler.png"
    
  >
    <TechBadge name="React" color="#2563eb" />
    <TechBadge name="PostgreSQL" color="#15803d" />
    <TechBadge name="NextJS" color="#b91c1c" />
    <TechBadge name="Google Cloud" color="#b31c7c" />
    <TechBadge name="Tailwind" color="#035c8c" />
    <TechBadge name="Go" color="#4cb9db" />
  </Project>
</div>
